.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__input {
    width: 150px;
    outline: none;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #8fd4ee;
  }
  &__button {
    width: 150px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #8fd4ee;
    cursor: pointer;
  }
}
.register-link {
  font-size: 14px;
}
